doctype html  
html(lang='en')  
  head
    title CDSTM | Oops...
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
  body
    header
      h1 Error 404
      h2#error_description The page you tried to access does not exist.
      a(href="/") Return to the home page :/