doctype html  
html(lang='en')  
  head
    title CDSTM | INTERNET FRONT
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Fuck Google, Fuck Twitter. Fuck surveillance capitalism. Free alternative to those proprietary online services.")
    meta(name="author", content="adidal@chat.cdstm.ch")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css", integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=", crossorigin="anonymous")
  body
    header
      h1 cdstm.ch
    main
      div#services
        div(id="searx" class="service")
          a(href="https://search.cdstm.ch") 
            i(class="fa fa-search-plus fa-5x")
            div
              h3 SearX
              i(class="fa fa-external-link-square")
            p a Google or Bing alternative. Basically mixes up multiple Search engine results. 
        div(id="mastodon" class="service")
          a(href="https://chat.cdstm.ch") 
            i(class="fa fa-mastodon fa-5x")
            div
              h3 Mastodon
              i(class="fa fa-external-link-square")
            p a Twitter alternative. Decentralized. With good privacy-related features.
        div(id="funkwhale" class="service")
          a(href="https://sound.cdstm.ch") 
            i(class="fa fa-music fa-5x")
            div
              h3 Funkwhale
              i(class="fa fa-external-link-square")
            p a Soundcloud alternative. Can follow other accounts and thus, allows you to enjoy their music.
        div(id="zimbra" class="service")
          a(href="https://mail2.tgarcia.ch") 
            i(class="fa fa-paper-plane-o fa-5x")
            div
              h3 Zimbra
              i(class="fa fa-external-link-square")
            p a Gmail or Outlook alternative. Provides mail and groupware functionnalites.
      div#status 
        h2 Disponibility
        noscript.outage Unavailable without javascript enabled.
      div#goals
        h2 Goals 
        p.
          To Fight 
          #[a(href="https://en.wikipedia.org/wiki/Big_Four_tech_companies") GAFAM]
          monopolistic nature and its increasing collaboration with fascist regimes, it makes sense (at least to me) to offer free-of-charge alternatives that are somewhat reliable. That's why I spend a few hours per week to keep those services up and running. 
      div#contact
        h2 Contact
        p.
          Im always available via 
          #[a(href="mailto:hello@cdstm.ch") email]
            #[i(class="fa fa-at fa-lg")]
          and on 
          #[a(href="https://chat.cdstm.ch/@adidal" rel="me") mastodon]
            #[i(class="fa fa-mastodon fa-lg")]

    footer
      a(href="https://framagit.org/HiTechRabbit/cdstm") Source code under GPL license 
      a(href="https://liberapay.com/Adidal") Support my work here
        i(class="fa fa-liberapay")
