@font-face {
    font-family: Panton-LightCaps;
    src: url("/fonts/Panton-LightCaps.otf");
}

body {
    font-family: 'Panton-LightCaps', 'sans-serif';
    font-size: 1em;
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 5%;
    text-align: justify;
}

header {
    grid-row: 1;
    grid-column: 2;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0;
}

h3 {
    margin-bottom: 1%;
}

h4 {
    margin-right: 3%;
}

#status a {
    grid-row: 1;
    grid-column: 2;
    
    display: inline;
    margin-right: 3%;
}


.service p {    
    margin-top: 0;
}

.service i {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main {
    display: inline-grid;
    grid-column-gap: 5%;
    grid-template-columns: 75% 20%;
    grid-template-rows: auto auto;
    color: black;
    grid-row: 2;
    grid-column: 2;
}

#services { 
    grid-row: 1;
    
    display: inline-grid;
    grid-column-gap: 3%;
    grid-template-columns: auto auto auto auto;
}

.service {
    transition: transform .2s;
}

.service:hover {
    transform: scale(1.1);
}

.service a {
    text-decoration: none;
}

.service a div h3, .service a div i {
    display: inline;
    margin-right: 3%;
}

#goals {
    grid-column: 1; 
    grid-row: 2;
}

#contact {
    grid-column: 2;
    grid-row: 2;
}

#status a {
    text-decoration: none;
}

#status a:hover {
    text-decoration: underline;
}

#status a h4, #status a p {
    display: inline;
    text-decoration: none;
}

main a {
    margin: 0;
    display: inline;
    color: black;
}

.neat {
    font-weight: bold;
}

footer {
    grid-row: 3;
    grid-column: 2;
}

footer a{
    margin-top: 0;
    font-size: 1em;
    display: inline;
    color: black;
}

footer a:last-child {
     float: right;
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
    body {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }
   
    main {
        display: block;
    }
    
}

@media only screen and (max-width: 600px) { 
    body {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
    }
   
    main {
        display: block;   
    }
    
    #services { 
        display: inline;
    }
    
    .service a {
        display: grid;
        grid-template-columns: 10% auto;
        grid-template-rows: auto auto;
        grid-column-gap: 25%;
        align-items: center;
    }
    
    .service a i {
        grid-column: 1;
        grid-row: 1;
    }
    
    .service a h3, .service a p {
        grid-column: 2;
        margin: 0;
    }
    
    .service a 3h{
        vertical-align: center;
    }
    
    footer a:last-child {
        float: left;
    }

    h1 {
        font-size: 3em;
    }
}